@charset "UTF-8";
@font-face {
    font-family: 'hanken' ;
    src: url(fonts/HankenGrotesk-VariableFont_wght.ttf) format("truetype");
    
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: lightgrey;
    padding-top: 50px;
    font-family: 'hanken';
}

.container{
    
    max-width: 400px;
    min-width: 400px;
    width: 400px;
    height: auto;
    background-color: white;
    margin: auto;

    display: flex;
    flex-direction: column;
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.308);
    
    
}

.cx-azul{
    height: 45%;
    width: 400px;
    padding-bottom: 40px;
    background-image: linear-gradient(to bottom, rgb(148, 96, 197), rgb(64, 64, 141)  );
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 30px 30px;

    
}

.ball {
    text-align: center;
    width: 125px;
    height: 125px;
    background-image: linear-gradient(to bottom, rgb(119, 62, 153) ,rgb(107, 66, 184) , rgba(64, 64, 141, 0.171)  );
    border-radius: 50%;
    margin-bottom: 30px;
    color: white;
    text-align: 1em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.ball > h1{
    font-size: 3.5em;
}
.ball > p{
    color: rgba(255, 255, 255, 0.687);
    
}

.title{
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: rgba(255, 255, 255, 0.687);
    font-size: 1em;
}

.text{
    width: 80%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.text > p{
    color: rgba(255, 255, 255, 0.687)
}

.sumary{
    color: rgb(37, 37, 91);
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;

}

table{
    
    height: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 7px;
    
}


a{
    display: block;
    
}

#tr1{
    border-radius: 7px;
    background-color: rgba(248, 100, 100, 0.226);
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

#tr2{
    border-radius: 7px;
    background-color: rgba(230, 194, 31, 0.226);
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

#tr3{
    border-radius: 7px;
    background-color: rgb(45, 187, 121, 0.226);
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

#tr4{
    border-radius: 7px;
    background-color: rgba(54, 54, 173, 0.233);
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.let{
    font-weight: bold;
    
}

#verme{
    color: rgba(248, 100, 100, 0.856);
}

#amare{
    color: rgba(230, 194, 31, 0.877);
}

#verde{
    color: rgb(45, 187, 121);
}

#azul{
    color: rgb(54, 54, 173);
}

.num{
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
    
}

.cem{
    color: rgba(0, 0, 0, 0.39);
    border-radius: 0px 7px 7px 0px;
    width: 50px;
    font-weight: bold;
}

.icon{
    padding-top: 7px;
    padding-right: 8px;
    text-align: right;
    border-radius:7px 0px 0px 7px;
}

.continue {
    color: white;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    height: 45px;
    width: 90%;
    padding-top: 20px;
    background-color: rgb(82, 82, 148) ;
    
    
    text-align: center;
    font-weight: bolder;
    font-size: 1.2em;
    
    
}

.attribution{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

